.btn {
  height: 2rem;
  padding: 1.5rem;
  border: none;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary-400);
  color: var(--gray-100);
}

.btn-primary:hover {
  background-color: var(--primary-400);
}

.btn-primary-darker {
  background-color: var(--primary-500);
  color: var(--gray-100);
}

.btn-primary-darker:hover {
  background-color: var(--primary-600);
}

.btn-secondary {
  background-color: var(--secondary-300);
  color: var(--gray-100);
}

.btn-secondary:hover {
  background-color: var(--secondary-400);
  color: var(--gray-100);
}

.btn-pagination {
  background-color: var(--secondary-300);
  color: var(--gray-100);
}