.bar-wrapper {
  background-color: var(--gray-200);
  width: 100vw;
  height: 0.3rem;
  position: absolute;
  top: 0;
  left: 0;
}
.bar-growing {
  max-width: 1%;
  height: 100%;
  background-color: var(--secondary-300);
  animation: growingBar 0.5s infinite;
}


@keyframes growingBar {
  to {
    max-width: 100%;
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.skeleton-image{
  width: 200px;
  height: 200px;
  border-radius: 2rem;
  background-color: var(--gray-100);

  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1s shine linear infinite;
}

.skeleton-desc {
  width: 220px;
  height: 50px;
  border-radius: 1.5rem;
  background-color: var(--gray-100);

  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1s shine linear infinite;
}